<!DOCTYPE html>
<html ng-app='gumApp'>
  <head>
    <meta charset="utf-8">
    <title>Gums To Chew</title>
  </head>
  <body ng-controller="GumController as gumCtrl">
    <form ng-submit="gumCtrl.add()">
      <input type="text" ng-model="gumCtrl.newGum.name" placeholder="Add Gum">
      <input type="text" ng-model="gumCtrl.newGum.duration" placeholder="Add Duration">
      <label for="gumCtrl.newGum.organic">Organic?</label>
      <input type="checkbox" ng-model="gumCtrl.newGum.organic" placeholder="Add Organic? (T/F?)">
      <input type="text" ng-model="gumCtrl.newGum.flavor" placeholder="Add Flavor">
      <input type="submit">
    </form>
  <div class="unchewed">
    <h2>Gums to Chew</h2>
    <ul>
      <li ng-repeat="gum in gumCtrl.all" ng-if="!gum.chewed">
        <p>Name: {{gum.name}}</p>
        <p>Lasts for {{gum.duration}} minutes.</p>
        <p>Organic? {{gum.organic}}</p>
        <p>Tastes like: {{gum.flavor}}</p>
        <p>Chewed?<input type="checkbox" ng-model="gum.chewed"></p>
      </li>
    </ul>
  </div>

  <div class="chewed">
    <h2>Gums Chewed</h2>
    <ul>
      <li ng-repeat="gum in gumCtrl.all" ng-if="gum.chewed">
        <p>Name: {{gum.name}}</p>
        <p>Lasts for {{gum.duration}} minutes.</p>
        <p>Organic? {{gum.organic}}</p>
        <p>Tastes like: {{gum.flavor}}</p>
      </li>
    </ul>
  </div>




    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  	<script src="js/app.js"></script>
  	<script src="js/gumController.js"></script>
  </body>
</html>
